<div class="large-example">
  <button type="button" name="button" {{action 'toggleShow'}} class="button">
    Show
  </button>
  {{#if showMessage}}
    <div class="cool-name">
      Hey I'm here
    </div>
  {{else}}
    <div>
      Nobody is here.
    </div>
  {{/if}}
</div>

{{! Task 1:
  Make the button say 'Show' when showMessage is false
  and 'Hide' when showMessage is true
}}

{{! Task 2:
  Create an action in your completed binding-example-books Component
  for the All button and the None button, so the action make all categories false
}}
