<div class="large-example">

  <strong>Is this {{crazy}} or {{insane}}</strong> <br>

  {{one-way-input crazy update=(action (mut crazy)) class="input-text" placeholder="Your mental state"}}

  {{one-way-input crazy update=(action (mut insane)) class="input-text" placeholder="Are you ok?"}}

</div>

{{! Task 1:
    Correct inputs to make them normal
}}

{{! Task 2:
    If crazy is present, show second input bound to insane. Otherwise, do not show.
}}

{{! Task 3:
  If crazy and insane are present, show a message saying: "Please contact a doctor."
}}
