.example {
  padding: unit-space(1);
  margin: unit-space(1) 0;
  background: lighten($alt-color, 30);
}

.large-example {
  @extend .example;
  font-size: 24px;
  padding: unit-space(2);
  .input-text {
    margin-top: unit-space(1);
  }
  ul {
    margin: unit-space(1) 0;
    padding-left: unit-space(0.5);
    li {
      margin-bottom: unit-space(0.5);
      &:before {
        color: $alt-color;
        content: '-';
      }
    }
  }
}

.cool-name {
  display: block;
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

.small-nav {
  margin-bottom: unit-space(1);
  .button {
    font-size: 14px;
    box-sizing: border-box;
    border: 3px solid $main-color;
    &.active {
      border-color: $action-color;
    }
  }
}

.shiny-cart {
  .cart-item {
    padding: 10px 0;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    align-items: center;
    h3 {
      margin: 0;
    }
  }
}
