<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Sweet, sweet templates</h2>
      <p>
        Templates are one of the basic elements that we use to create ambitious applications.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Data Binding</h3>

      {{binding-example-1}}


      {{binding-example-2}}

      {{!<h3>Context is important</h3>
      <p>
        A template context is what holds the information that the template can access. It can eiher be a controller or a component (we'll see this in detail later on).
      </p>}}
    </div>
  </div>

  {{binding-example-3}}

</div>
{{outlet}}
