<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Sweet, sweet templates</h2>
      <p>
        Templates are one of the basic elements that we use to create ambitious applications. <br>
        <em>If you want to have some fun, open each component's template and complete the tasks stated there.</em>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <h3>Data Binding</h3>
  <div class="row">
    <div class="col-md-6">
      {{binding-example-salutation}}
    </div>
  </div>
  {{binding-example-books}}
</div>
