<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Sweet, sweet templates</h2>
      <p>
        Templates are one of the basic elements that we use to create ambitious applications. <br>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <h3>Data Binding</h3>
  <p>
    <em>Complete the tasks stated in the comments at: <pre>app/templates/components/binding-example-salutation.hbs</pre></em>
  </p>
  <div class="row">
    <div class="col-md-6">
      {{binding-example-salutation}}
    </div>
  </div>
  <p>
    <em>Complete the tasks stated in the comments at: <pre>app/templates/components/actions-example-1.hbs</pre></em>
  </p>
  {{binding-example-books}}
</div>
