<div class="container">
  <h2>Your shopping cart</h2>
  <p>Review the slide tasks to create a shopping cart component using computed properties.</p>

  {{!shiny-cart
      userItems=userItems
      onChangeAmount=(action 'changeItemAmount')
  }}
</div>
