<div class="container">
  <h2>Helpers</h2>

  <p>Review the slides to complete the following helper examples.</p>

  <div class="row">
    <div class="col-md-8 ">
      <table class="table helpers-example-table">
        <thead>
          <th>Example use</th>
          <th>Expectation</th>
          <th>Result</th>
        </thead>
        <tbody>
          <tr>
            <td>
              (equal 'a' 'b')
            </td>
            <td>
              {{false}}
            </td>
            <td>
              {{! your helper result}}
            </td>
          </tr>
          <tr>
            <td>
              (not false)
            </td>
            <td>
              {{true}}
            </td>
            <td>
              {{! your helper result}}
            </td>
          </tr>
          <tr>
            <td>
              (capitalize 'hello')
            </td>
            <td>
              Hello
            </td>
            <td>
              {{! your helper result}}
            </td>
          </tr>
          <tr>
            <td>
              (currency 12.302 'USD')
            </td>
            <td>
              USD 12.302
            </td>
            <td>
              {{! your helper result}}
            </td>
          </tr>
          <tr>
            <td>
              (sum values) <br><em>let values = [10, 12, 14, 16]</em>
            </td>
            <td>
              52
            </td>
            <td>
              {{! your helper result}}
            </td>
          </tr>
          <tr>
            <td>
              (format-currency 12.302 'USD' precision=2)
            </td>
            <td>
              USD 12.30
            </td>
            <td>
              {{! your helper result}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
