<div class="container state-container">
  <h2>State Management</h2>
  <p>Review the slides tasks to explore these examples of state management.</p>

  <div class="row">
    <div class="col-md-4">
      <h3>Presentation state</h3>
      {{presentation-state}}
    </div>
    <div class="col-md-4">
      <h3>Visibility state</h3>
      {{!visibility-state}}
    </div>
    <div class="col-md-4">
      <h3>Disabled state</h3>
      {{!disabled-state}}
    </div>
    <div class="col-md-4">
      <h3>Temporal state</h3>
      {{!temporal-state articleUrl=articleUrl}}
    </div>
    <div class="col-md-4">
      <h3>Choice state single</h3>
      {{!choice-state-single options=options}}
    </div>
    <div class="col-md-4">
      <h3>Choice state multiple</h3>
      {{!choice-state-multiple options=options}}
    </div>
  </div>
</div>
