<header class="app-header">
  <div class="container">
    <h1>Ember ab initio</h1>
  </div>
</header>

{{outlet}}

<footer class="app-footer">
  <div class="container">
    Built by <a href="https://thisdot.co" target="_blank">This Dot</a>.
  </div>
</footer>
